<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <nav>
        <!-- Ваши ссылки навигации -->
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 KNVLV</p>
</footer>
{% block extra_js %}
<!-- Подключение дополнительных скриптов (если нужно) -->
{% endblock %}
</body>
</html>