{% extends "base.html" %}

{% block title %}mails{% endblock %}

{% block content %}

<form method="post" action="/comsoftlab_app/mail/messages/" id="login-form">
    {% csrf_token %}

    {% if is_credentials_valid == 'False' %}
        <div class="wrong-credentials">
            Неверные данные почты
        </div>
    {% endif %}

    <div class="form-group">
        <label for="mail">Электронная почта</label>
        <input class="mail" type="email" id="mail" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input class="mail" type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Войти</button>
</form>
{% endblock %}
