{% extends "base.html" %}

{% load static %}

{% block title %}messages{% endblock %}

{% block content %}


<div class="progress fade">
  <div class="progress-value"></div>
</div>

 <h1>Список объектов</h1>
 <h1>Количество сообщений: {{ messages_count }}</h1>
<div class="messages_str">

    {{ messages }}

</div>
    <table border="1">
        <thead>
            <tr>
                <th>Тема</th>
                <th>Содержание</th>
                <th>Дана отправки</th>
                <th>Дана получения</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages_in_db %}
                <tr>
                    <td>{{ message.title }}</td>
                    <td>{{ message.text }}</td> <!-- Предполагаем, что у объекта есть поле name -->
                    <td>{{ message.sent_date }}</td> <!-- Другие поля -->
                    <td>{{ message.receiving_date }}</td> <!-- Другие поля -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет объектов для отображения.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}